:root {
	--white-theme-bg: rgb(255, 255, 255);
	--dark-theme-tx: rgb(227, 227, 227);
	--dark-theme-bg: rgb(32, 32, 32);
	--white-theme-tx: rgb(32, 32, 32);
}

body {
	height: 100vh;
	margin: 0px;
	padding: 0px;
	display: flex;
}

nav {
	/* outline: solid rgb(134, 134, 29); */
	display: flex;
	flex-direction: column;
	padding-top: 20vh;
	align-items: flex-end;
	padding-right: 5rem;
	font-family:'Roboto', sans-serif;
	font-size: 1.2rem;
	color:var(--white-theme-tx);
	position: fixed;
	height: 100%;
	left: 0;
	z-index: 10;
	background-color: white;
	min-width: clamp(2vw, 200px, 400px);
}

.v-scrollbar * {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	list-style: none;
	color: var(--white-theme-tx);
}

.display {
	display: flex;
	align-items: center;
	height: 100%;
}

.section {
	/* outline: 1px solid rgb(0, 145, 255); */
	image-rendering: optimizeQuality;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 20rem;
	width: 50rem;
	height: calc(100% - 10rem);
}

.section > img {
	z-index: 2;
	/* outline: solid red 1px; */
	width: 100%;
	height: 100vh;
	object-fit: contain;
	margin-right: 10rem;
	
}

.section > p {
	position: absolute;
	bottom: -4rem;
	font-size: 1.4rem;
	color: var(--white-theme-tx);
}

.on {
	color: crimson;
}