body {
	margin: 0px;
	padding: 0px;
	display: flex;
}


nav {
	width: 10%;
	height: 100vh;
	background-color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	position: sticky;
	top: 0;
	left: 0;
}

nav logo {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

nav ul {
	margin: 2%;
}

nav a {
	color: blue;
	text-decoration: none;
}

.images {
	display: grid;
	grid-auto-flow: dense;
	/* grid-template-columns: 1fr 1fr; */
	width: calc(100vw- 10%);
}

.images img {
	padding: 2px;
	padding-top: 2px;
	width: 99%;
	
}