@import url('https://fonts.google.com/css?family=Poppins:300,600,800&display=swap');
* {
	--a1: #1a1a1a;
	--a2: #ffffff10;
	--b1: hsl(0, 0%, 27%);
	--b2: #363795;
	--c1: #e54934;
	--c2: #e35d5b;
	--d1: #2943137c;
	--d2: #1d00565c;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 800;
	background: var(--b1);
	/* height: 100vh;
	width: 100vw; */
}

main {
	overscroll-behavior-y: contain;
	overflow-y: hidden;
	background-position: center 100%;
	background-size: cover;
	background-repeat: repeat;
	background-image: url(/images/~7.jpg);
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 4;
	transition: transform 430ms ease;
	border-bottom: var(--a2) 2px solid;
	box-shadow: 0px 0px 25px 18px rgba(0, 0, 0, 0.35);
}

body[data-nav="on"] > main {
	transform: translateY(-50%);
	box-shadow: rgba(0, 0, 0, 0.05);
}

nav {
	position: sticky;
	width: 100vw;
	left: 0px;
	bottom: 0px;
	overflow-x: scroll;
	display: flex;
	justify-content: center;
	outline: auto;
}

/* NAV ITEMS */
#nav-items {
	bottom: 100px;
	height: 50vh;
	width: 87vw;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* makes the opening animation nice */
	transform: translateY(40px) scale(1);
	transition: transform 424ms ease;
	/* overflow-x: scroll; */
}

body[data-nav="off"] > nav > #nav-items {
	/* offset from the top */
	transform: scale(0.6);
}

.nav-item {
	text-decoration: none;
	width: 28%;
	max-width: 400px;
	max-height: 400px;
	display: flex;
	flex-direction: column;
	
}

/* LABELs */
#nav-items > .nav-item > .nav-item-label {
	z-index: 1;
	font-family: sans-serif;
	color: white;
	font-size: 1.4vw;
	letter-spacing: 0.23rem;
	padding-left: 5%;
	text-transform: UPPERCASE;
	overflow-x: visible;
	text-shadow: 0px 10px 2.5rem 10px rgba(0, 0, 0, 0.8);
}

/* IMAGEs */
#nav-items > .nav-item > .nav-item-image {
	height: 35vh;
	max-height: 350px;
	border-radius: 0.8rem;
	margin-top: -0.4rem;
	object-fit: cover;
	border: var(--a2) 0.1rem solid;
	box-shadow: 0px 10px 2.5rem 0px rgba(0, 0, 0, 0.4);
}

/* hover animation on the links */
.nav-item-image:hover{
	transform: scale(1.02);
	transition: transform 100ms ease;
}


/* THE BUTTON STUFF */
#nav-toggle {
	position: fixed;
	height: 4rem;
	width: 10rem;
	z-index: 5;
	left: 50%;
	bottom: clamp(2.5rem, 3rem, 5rem);
	transform: translateX(-50%);
	background-color: var(--a1);
	border: none;
	border-radius: 5rem;
	box-shadow: 0rem 0rem 4rem var(--d1);
	cursor: pointer;
	transition: transform, background-color, border-radius;
	transition-timing-function: ease;
	transition-duration: 150ms;
}

#nav-toggle:hover {
	transform: translateX(-50%) scale(1.09);
	background-color: rgb(234, 206, 104, 0.8);
}

#nav-toggle:active {
	transform: translateX(-50%) scale(0.9);
	background-color: rgb(147, 105, 20);
}

/* from toggleNav() */
/* makes the open icon appear */
body[data-nav="off"] > #nav-toggle > .open {
	opacity: 1;
	transform: translate(-50%, -24%) scale(2.7);
}
/* makes the close icon appear */
/* .close is referencing the close icon */
body[data-nav="on"] > #nav-toggle > .close {
	opacity: 1;
	transform: translate(-50%, -33%) scale(2);
}

#nav-toggle > i {
	/* filter: invert(100); */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(0% 100%) scale(0.9);
	font-size: 1.75rem;
	opacity: 0;
	padding-bottom: 0.77rem;
	/* transition for button icons */
	transition: transform, opacity;
	transition-timing-function: ease;
	transition-duration: 300ms;
}


/* .button-10 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6px 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
	border-radius: 6px;
	border: none;
	color: #fff;
	background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
	background-origin: border-box;
	box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-10:focus {
	box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
	outline: 0;
} */